.git
.gitignore
node_modules
.env
.env.*
!.env.example
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.elasticbeanstalk
.platform
docker-compose*
*.md
error.pdf
database/*.sql
