/aws-config
vendor/
node_modules/
.env
*.sql
*.pdf
*.pem
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
storage/logs/*
*.log
*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
*.zip
.elasticbeanstalk/app_versions
