option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 256M
    max_execution_time: 300
    display_errors: "Off"
    composer_options: "--no-dev --optimize-autoloader"

  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_DEBUG: false
    LOG_CHANNEL: stderr

container_commands:
  01_migrate:
    command: "php artisan migrate --force"
    leader_only: true

  02_storage_link:
    command: "php artisan storage:link"
    leader_only: true

  03_filament_upgrade:
    command: "php artisan filament:upgrade"
    leader_only: true

  05_queue_restart:
    command: "php artisan queue:restart"
    leader_only: true

